@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  @apply bg-slate-900 text-gray-100;

    font-family: "Arvo", serif;
    font-weight: 500;
    font-style: normal;
}